<launch>
    <!-- 
      Launch file that lets you to launch your desired world with rtab but also
      record rosbags and playback rosbags.
     -->
    <!-- basic config for world and robot model -->

    <param name="/use_sim_time" type="bool" value="false"/>

    <arg name="world_name"          default="turtlebot3_world" />
    <arg name="model"               default="waffle"    doc="model type [burger, waffle, waffle_pi]" />
    <arg name="move_robot"          default="self"      doc="[self=teleop, auto=move_base, playb=rosbag]" />
    
    <arg name="open_gui"            default="true" />
    <arg name="open_viz"            default="true" />
    <arg name="record_bag"          default="false" />

    <!-- Making a directory for experiments to be saved in -->
    
    <!-- set date and time to differentiate folders  -->
    <!-- https://answers.ros.org/question/261616/get-timestamp-during-roslaunch/?answer=410577#post-id-410577 -->
    <arg name="dir_postfix" default="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%Y-%m-%d-%H-%M'))"/>
    
    <!-- combined final directory names -->
    <arg name="experiments_dir" default="$(arg world_name)-$(arg dir_postfix)" />
    <arg name="datacapture_dir" default="$(find turtlebot3_fs)/datacapture" />

    <!-- script to make the dir; input: complete path of where the directory will be -->
    <!-- the name or value of the parameter is mostly useless; only used to run the script -->
    <param name="make_dir" command="bash $(find turtlebot3_fs)/scripts/create_dir.sh '$(arg datacapture_dir)/$(arg experiments_dir)/'"/>
    
    <!-- Launch Gazebo with the world and the robot -->
    <include file="$(find turtlebot3_gazebo)/launch/$(arg world_name).launch">
      <arg name="open_gui"          value="$(arg open_gui)"/>
      <arg name="model"             value="$(arg model)" />
    </include>

    <!-- Load desription urdf and all -->
    <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include> -->

    <!-- Launch the RTAB SLAM method to be used -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_brtab.launch" if="$(arg open_viz)">
      <arg name="model"             value="$(arg model)" />
      <arg name="slam_methods"      value="rtabmap" />
      <arg name="database_dir"      value="$(arg datacapture_dir)/$(arg experiments_dir)/"/>
    </include>

    <!-- Launch methods to move the robot. -->
    <group>
      <!-- Only one of these ways to run the robot may be used. -->
      <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" if="$(eval arg('move_robot') == 'self')">
          <arg name="model"           value="$(arg model)" />
      </include>

      <include file="$(find turtlebot3_navigation)/launch/move_base.launch" if="$(eval arg('move_robot') == 'auto')">
          <arg name="model"           value="$(arg model)" />
      </include>

      <node pkg="rosbag" type="play" name="playback_cmdVel" if="$(eval arg('move_robot') == 'playb')"
            args= "--clock $(find turtlebot3_fs)/datacapture/turtlebot3_world-2023-02-01-09-54/velocity_turtlebot3_world_2023-02-01-09-54.bag"
            launch-prefix="xterm -e">
      </node>
    </group>

    <!-- Launch recorder -->
    <include file="$(find turtlebot3_fs)/launch/record_rosbag.launch" if="$(arg record_bag)"> 
        <arg name="world_name"    value="$(arg world_name)" />
        <arg name="dir_postfix"    value="$(arg dir_postfix)" />
        <arg name="datacapture_dir" value="$(arg datacapture_dir)/$(arg experiments_dir)/" />
    </include>

    <include file="$(find turtlebot3_fs)/launch/addons.launch" />
</launch>