<launch>
    <!-- 
      Launch file to feed a recorded session back to rtab.
       - set config and options
       - load robot description to provide transforms
       - node to playback file
       - launch rtab node to perform slam
    -->

    <!-- basic config: rviz, bag file, model, sim_time -->
    <arg name="open_rviz"       default="true"/>
    <arg name="current_file"    default="2023-05-05-18-00"/>
    <arg name="world_name"      default="turtlebot3_house" />
    <arg name="model"           default="waffle"    doc="model type [burger, waffle, waffle_pi]" />
    <param name="/use_sim_time" type="bool"         value="true"/>

    <arg name="modify_laser"       default="false" />

    <!-- Play back rosbag; topics written out manually to avoid clock topic -->
    <node pkg="rosbag" type="play" name="playback_rtab_inputs" launch-prefix="xterm -e"
          args="--clock --topics /camera/depth/image_raw /camera/rgb/camera_info /camera/rgb/image_raw /odom /scan /tf /tf_static
          --bags=$(find turtlebot3_fs)/datacapture/$(arg world_name)-$(arg current_file)/rtabIn_$(arg world_name)_$(arg current_file).bag" >
    </node>

    <!-- To load robot description; provides transforms and all -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model"       value="$(arg model)" />
    </include>

    <!-- Main node that introduces perturbations in sensor data -->
    <group if="$(arg modify_laser)"> 
        <node pkg="turtlebot3_laser_deg" type="turtlebot3_laser_deg_node" name="laser_mod" output="screen">
            <rosparam command="load" file="$(find turtlebot3_laser_deg)/config/default.yaml" />
        </node>
    </group>

    <!-- Launch ratbmapping on the pre-recorded data -->
    <include file="$(find turtlebot3_fs)/launch/rtab_slam.launch">
        <arg name="current_file"    value="$(arg current_file)" />
        <!-- <arg name="rename_scan"     value="/rndScan" /> -->
    </include>
    
    <!-- To visualize the process -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_fs)/rviz/turtlebot3_rtabmap.rviz">
        </node>
    </group>
</launch>