<launch>
    <!-- 
      High level control for slam with rtab; record and play rosbags.
       - set config and gui options
       - set and make directory
       - launch gazebo with world
       - launch slam method
       - launch velocity control mode: move_base, teleop, playback
       - launch rosbag recorder
    -->

    <!-- basic config for world and robot model -->
    <param name="/use_sim_time"     type="bool"         value="false"/>

    <arg name="world_name"          default="turtlebot3_world" />
    <arg name="model"               default="waffle"    doc="model type [burger, waffle, waffle_pi]" />
    <arg name="move_robot"          default="auto"      doc="[self=teleop, auto=move_base, rosb=rosbag]" />
    
    <arg name="do_slam"             default="true" />
    <arg name="open_gui"            default="true" />
    <arg name="open_rviz"           default="true" />
    <arg name="record_bag"          default="true" />

    <!-- Making a directory for experiments to be saved in -->
    <!-- set date and time to differentiate folders  -->
    <!-- https://answers.ros.org/question/261616/get-timestamp-during-roslaunch/?answer=410577#post-id-410577 -->
    <arg name="dir_postfix"         default="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%Y-%m-%d-%H-%M'))"/>
    
    <!-- combined final directory names -->
    <arg name="experiments_dir"     default="$(arg world_name)-$(arg dir_postfix)" />
    <arg name="datacapture_dir"     default="$(find turtlebot3_fs)/datacapture" />
    <arg name="complete_dir_path"   default="$(arg datacapture_dir)/$(arg experiments_dir)/" />

    <!-- script to make the dir; input: complete path of where the directory will be -->
    <!-- the name or value of the parameter is mostly useless; only used to run the script -->
    <param name="make_dir" command="bash $(find turtlebot3_fs)/scripts/create_dir.sh '$(arg complete_dir_path)/'"/>
    
    <!-- Launch Gazebo with the world and the robot -->
    <include file="$(find turtlebot3_gazebo)/launch/$(arg world_name).launch">
      <arg name="open_gui"          value="$(arg open_gui)"/>
      <arg name="model"             value="$(arg model)" />
    </include>

    <!-- Load robot desription, provides transformations between components of robot -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- Launch the RTAB SLAM method to be used -->
    <include file="$(find turtlebot3_fs)/launch/rtab_slam.launch" if="$(arg do_slam)">
      <arg name="rename_scan"         value="/scan" />
      <arg name="current_file"        value="$(arg dir_postfix)" />
      <arg name="database_dir"        value="$(arg complete_dir_path)" />
    </include>

    <!-- Launch methods to move the robot. -->
    <group>
      <!-- Only one of these ways to run the robot may be used. -->
      <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" if="$(eval arg('move_robot') == 'self')">
          <arg name="model"           value="$(arg model)" />
      </include>

      <include file="$(find turtlebot3_navigation)/launch/move_base.launch" if="$(eval arg('move_robot') == 'auto')">
          <arg name="model"           value="$(arg model)" />
      </include>

      <!-- Needs to be modified to remove the clock topic that gets recorded in some bags. that leads to two clock topics  -->
      <node pkg="rosbag" type="play" name="playback_cmdVel" if="$(eval arg('move_robot') == 'rosb')"
            args= "--clock $(find turtlebot3_fs)/datacapture/turtlebot3_world-2023-02-01-09-54/velocity_turtlebot3_world_2023-02-01-09-54.bag"
            launch-prefix="xterm -e">
      </node>
    </group>

    <!-- Launch recorder -->
    <include file="$(find turtlebot3_fs)/launch/record_rosbag.launch" if="$(arg record_bag)"> 
        <arg name="world_name"    value="$(arg world_name)" />
        <arg name="dir_postfix"    value="$(arg dir_postfix)" />
        <arg name="datacapture_dir" value="$(arg complete_dir_path)/" />
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find turtlebot3_slam)/rviz/turtlebot3_rtabmap.rviz">
        </node>
    </group>
</launch>