<launch>
  <arg name="world_name"        default="turtlebot3_default" />
  <arg name="record_node_rtab"  default="false" />

  <!-- Velocity gets recorded by default -->
  <node pkg="rosbag" type="record" name="record_velocity" 
        args="-o $(find turtlebot3_fs)/rosbags/$(arg world_name) cmd_vel" />

  <node pkg="rosbag" type="record" name="record_rtab_inputs"
        args="-o $(find turtlebot3_fs)/rosbags/rtab_inputs" if="$(arg record_node_rtab)" />
</launch>