<launch>
    <arg name="world_name"          default="turtlebot3_world" />
    <arg name="open_gui"            default="false" />
    <arg name="open_viz"            default="true" />
    <arg name="model"               default="waffle"    doc="model type [burger, waffle, waffle_pi]" />
    <arg name="slam_method"         default="rtabmap" />
    <arg name="move_robot"          default="auto"      doc="[self=teleop, auto=move_base, playback=rosbag]" />

    <!-- Launch Gazebo with the world and the robot -->
    <include file="$(find turtlebot3_gazebo)/launch/$(arg world_name).launch">
      <arg name="open_gui"          value="$(arg open_gui)"/>
      <arg name="model"             value="$(arg model)" />
    </include>

    <!-- Launch the SLAM method to be used -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" if="$(arg open_viz)">
      <arg name="model"             value="$(arg model)" />
      <arg name="slam_methods"      value="$(arg slam_method)" />
    </include>

    <!-- Launch methods to move the robot. -->
    <!-- Only one of these ways to run the robot may be used. -->
    <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" if="$(eval arg('move_robot') == 'self')">
        <arg name="model"           value="$(arg model)" />
    </include>

    <include file="$(find turtlebot3_navigation)/launch/move_base.launch" if="$(eval arg('move_robot') == 'auto')">
        <arg name="model"           value="$(arg model)" />
    </include>

    <!-- Launch recorder -->
    <include file="$(find turtlebot3_fs)/launch/turtlebot3_record_rosbag.launch"> 
        <arg name="world_name"    value="$(arg world_name)" />
    </include>
</launch>